#edit-btn {
    width: 50px;
    float: left;
}

#del-btn {
    width: 50px;
    float: right;
    margin-top: 0;
}


#btn-add {
    width: 80px;
    float: left;
    margin-left: 10px;
}

#input-search {
    width: 200px;
    float: right;
    margin-right: 10px;
}

// html{
//     // overflow: hidden;
// }